@{
    ViewData["Title"] = "Index";
}
<style>
    .main-panel {
        max-width: 1140px;
    }
</style>
<div>
    <!-- .card -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giao dịch #212535: 0.55 BTC = 65.500.000đ</h4>
            <p class="mt-2 font-weight-bold mb-5">Trạng thái hiện tại: <span class="text-success ">Chờ đối tác đồng ý giao dịch...</span></p>
            <form id="frmTransaction" action="#">
                <div>
                    <h3>Xác nhận đồng ý giao dịch từ đối tác <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Xác nhận đồng ý giao dịch từ đối tác</h6>
                        <div>
                            <table class="table table-borderless w-100 mt-4">
                                <tbody>
                                    <tr>
                                        <td>Người bán :<strong> duyxaoke</strong></td>
                                        <td>Mặt hàng :<strong> BTC</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng : <label class="badge badge-primary font-weight-bold">0.55 BTC</label></td>
                                        <td>Chuyển khoản :<strong> Vietcombank (VCB)</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Tổng tiền : <label class="badge badge-danger font-weight-bold">65.500.000đ</label></td>
                                        <td>Phí giao dịch :<strong class="text-warning"> 100.000đ</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <h3>Người mua chuyển tiền cho MEEX <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Profile</h6>
                        <div class="form-group">
                            <label for="name">First name *</label>
                            <input id="name" name="name" type="text" class="required form-control">
                        </div>
                        <div class="form-group">
                            <label for="surname">Last name *</label>
                            <input id="surname" name="surname" type="text" class="required form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input id="email" name="email" type="text" class="required email form-control">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input id="address" name="address" type="text" class="form-control">
                            <small>(*) Mandatory</small>
                        </div>
                    </section>
                    <h3>Người bán giao hàng  <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Finish</h6>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                                I agree with the Terms and Conditions.
                            </label>
                        </div>
                    </section>
                    <h3>MEEX chuyển tiền  <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Finish</h6>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                                I agree with the Terms and Conditions.
                            </label>
                        </div>
                    </section>
                    <h3>Kết thúc giao dịch  <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Finish</h6>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                                I agree with the Terms and Conditions.
                            </label>
                        </div>
                    </section>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <!-- Custom js for this page-->
    <script src="~/Content/assets/flare/js/wizard.js"></script>
    <!-- End custom js for this page-->

}