@{
    ViewData["Title"] = "Index";
}
<div>
    <!-- .card -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giao dịch #212535: 0.55 BTC = 65.500.000đ</h4>
            <p class="mt-2 font-weight-bold mb-5">Trạng thái hiện tại: <span class="text-success ">Chờ xác nhận giao dịch...</span></p>
            <form id="frmTransaction" action="#">
                <div>
                    <h3>Xác nhận đồng ý giao dịch từ 2 bên <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Xác nhận đồng ý giao dịch từ 2 bên</h6>
                        <div class="form-group">
                            <label for="userName">User name *</label>
                            <input id="userName" name="userName" type="text" class="required form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password *</label>
                            <input id="password" name="password" type="password" class="required form-control">
                        </div>
                        <div class="form-group">
                            <label for="confirm">Confirm Password *</label>
                            <input id="confirm" name="confirm" type="password" class="required form-control">
                            <small>(*) Mandatory</small>
                        </div>
                    </section>
                    <h3>Người mua chuyển tiền cho MEEX <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Profile</h6>
                        <div class="form-group">
                            <label for="name">First name *</label>
                            <input id="name" name="name" type="text" class="required form-control">
                        </div>
                        <div class="form-group">
                            <label for="surname">Last name *</label>
                            <input id="surname" name="surname" type="text" class="required form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input id="email" name="email" type="text" class="required email form-control">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input id="address" name="address" type="text" class="form-control">
                            <small>(*) Mandatory</small>
                        </div>
                    </section>
                    <h3>Người bán giao hàng  <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Finish</h6>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                                I agree with the Terms and Conditions.
                            </label>
                        </div>
                    </section>
                    <h3>MEEX chuyển tiền  <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Finish</h6>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                                I agree with the Terms and Conditions.
                            </label>
                        </div>
                    </section>
                    <h3>Kết thúc giao dịch  <i class="fa fa-check"></i></h3>
                    <section>
                        <h6>Finish</h6>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                                I agree with the Terms and Conditions.
                            </label>
                        </div>
                    </section>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <!-- Custom js for this page-->
    <script src="~/Content/assets/flare/js/wizard.js"></script>
    <!-- End custom js for this page-->

}