@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;

}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flare Premium Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/assets/flare/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/assets/flare/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/assets/flare/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100 mx-auto">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="text-center mb-4">Đăng ký</h2>
                        <div class="auto-form-wrapper">
                            <form action="@Url.Action("Register", "Account", new { returnUrl = ViewData["returnUrl"] })" method="post" class="auth-form">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="Name" class="form-control" placeholder="Họ tên" required="">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-user-follow"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="Username" class="form-control" placeholder="Tên đăng nhập" required="">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" name="Password" class="form-control" placeholder="Mật khẩu" required="">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" name="ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu" required="">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email"  name="Email" class="form-control" placeholder="Email" required="">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-envelope"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary submit-btn btn-block">Đăng ký</button>
                                </div>
                                <div class="text-block text-center my-3">
                                    <span class="text-small font-weight-semibold">Đã có tài khoản?</span>
                                    <a href="@Url.Action("Login", "Account", new { returnUrl = ViewData["returnUrl"] })" class="text-black text-small">Đăng nhập</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</body>

</html>