
@{
    ViewData["Title"] = "Trang chủ";
    Layout = null;
}


<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MEEX - mediate exchange</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/Content/assets/landing/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/assets/landing/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="~/Content/assets/landing/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/Content/assets/landing/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/Content/assets/landing/css/owl.carousel.min.css">
    <!-- bxslider css -->
    <!--flaticon css -->
    <link rel="stylesheet" href="~/Content/assets/landing/css/flaticon.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/Content/assets/landing/css/font-awesome.min.css">
    <link href="~/Content/assets/landing/css/video-js.css" rel="stylesheet">
    <!-- style css -->
    <link href="~/Content/assets/landing/style.css" rel="stylesheet" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/assets/landing/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/Content/assets/landing/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- preloader Start -->
    <div id="preloader">
        <div id="status">
            <img src="~/Content/assets/landing/images/banner/loader.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!--Header area start here-->
    <div section-scroll='0' class="wd_scroll_wrap">
        <header class="gc_main_menu_wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-6">
                        <div class="logo-area">
                            <a href="#">
                                <h2 style="margin-left: 30px;margin-top: 8px;color: white;">MEEX</h2>
                            </a>
                        </div>
                    </div>
                    <!-- Mobile Menu  Start -->
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-6">
                        <div class="menu-area  hidden-xs">
                            <nav class="wd_single_index_menu btc_main_menu font-weight-bold">
                                <ul>
                                    <li><a href="0">Trang chủ</a></li>
                                    <li><a href="1">Về chúng tôi</a></li>
                                    <li><a href="2">Cách sử dụng</a></li>
                                    <li><a href="3">Liên hệ</a></li>
                                </ul>
                            </nav>
                            <div class="language">
                                <span class="lng-in"><img src="~/Content/assets/landing/images/icons/12.png" alt="" /></span>
                                <ul class="lng-out">
                                    <li><img src="~/Content/assets/landing/images/icons/12.png" alt="" /></li>
                                    <li><img src="~/Content/assets/landing/images/icons/12.png" alt="" /></li>
                                </ul>
                            </div>
                            <div class="login-btn">
                                <a href="@Url.Action("Login", "Account")" class="btn1"><i class="fa fa-user"></i><span>Đăng nhập / Đăng ký</span></a>
                            </div>
                        </div>
                        <!-- mobile menu area start -->
                        <div class="rp_mobail_menu_main_wrapper visible-xs">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="toggle">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.177 31.177" style="enable-background:new 0 0 31.177 31.177;" xml:space="preserve" width="25px" height="25px">
                                        <g>
                                        <g>
                                        <path class="menubar" d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z" fill="#fff" />



                                                </g>
                                        <g>
                                        <path class="menubar" d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z" fill="#fff" />



                                                </g>
                                        <g>
                                        <path class="menubar" d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z" fill="#fff" />



                                                </g>
                                        <g>
                                        <path class="menubar" d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z" fill="#fff" />



                                                </g>
                                        <g>
                                        <path class="menubar" d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z" fill="#fff" />



                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div id="sidebar">
                                <h1><a href="#">MEEX</a></h1>
                                <div id="toggle_close">&times;</div>
                                <div id='cssmenu' class="wd_single_index_menu">
                                    <ul>
                                        <li><a href="0">Trang chủ</a></li>
                                        <li><a href="1">Cách sử dụng</a></li>
                                        <li><a href="2">Về chúng tôi</a></li>
                                        <li><a href="3">Điều khoản sử dụng</a></li>
                                        <li><a href="4">Liên hệ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu  End -->
                    </div>
                </div>
            </div>
        </header>
        <!--Header area end here-->
        <!--Slider area start here-->
        <section class="slider-area">
            <canvas id="canvas"></canvas>
            <div id="particles-js">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="carousel-captions caption-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="slider-content">
                                                <ul>
                                                    <li data-animation="bounceInDown" class="slider_social_icon1"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li data-animation="bounceInDown" class="slider_social_icon2"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li data-animation="bounceInDown" class="slider_social_icon3"><a href="#"><i class="fa fa-send-o"></i></a></li>
                                                    <li data-animation="bounceInDown" class="slider_social_icon4"><a href="#"><i class="fa fa-bitcoin"></i></a></li>
                                                    <li data-animation="bounceInDown" class="slider_social_icon5"><a href="#"><i class="fa fa-envelope"></i></a></li>
                                                </ul>
                                                <h2 data-animation="bounceInLeft">MEEX - Lending & <br>Investment Platform</h2>
                                                <div class="buttons">
                                                    <a href="#" class="btn1" data-animation="bounceInUp">TẠO GIAO DỊCH</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-xs hidden-sm">
                                            <div class="btc_slider_about_img" data-animation="bounceInDown">
                                                <img src="~/Content/assets/landing/images/about/1.png" alt="about_img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Slider area end here-->
    </div>
    <!--About area start here-->
    <div section-scroll='1' class="wd_scroll_wrap">
        <section class="projects bg-img pd-t100 pd-b70 jarallax">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="section-heading">
                            <h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Tại sao chọn chúng tôi?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
                            <div class="content">
                                <span class="icons"><img src="~/Content/assets/landing/images/icons/6.png" alt="" /></span>
                                <h3 style="font-family: Calibri;">Công nghệ <br>hiện đại</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
                            <div class="content">
                                <span class="icons"><img src="~/Content/assets/landing/images/icons/7.png" alt="" /></span>
                                <h3 style="font-family: Calibri;">Bảo mật cao <br>An toàn tuyệt đối</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
                            <div class="content">
                                <span class="icons"><img src="~/Content/assets/landing/images/icons/8.png" alt="" /></span>
                                <h3 style="font-family:Calibri ;">Đa dạng tiền tệ <br>trong giao dịch</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">
                            <div class="content">
                                <span class="icons"><img src="~/Content/assets/landing/images/icons/9.png" alt="" /></span>
                                <h3>Giao dịch <br>hoàn toàn tự động</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;">
                            <div class="content">
                                <span class="icons"><img src="~/Content/assets/landing/images/icons/10.png" alt="" /></span>
                                <h3>Thông tin cá nhân <br>Luôn là bí mật</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeIn animated" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: fadeIn;">
                            <div class="content">
                                <span class="icons"><img src="~/Content/assets/landing/images/icons/11.png" alt="" /></span>
                                <h3>24/7 <br>Luôn sẵn sàng hỗ trợ</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div section-scroll='2' class="wd_scroll_wrap">
        <section class="steps-area section">
            <div id="steps-js">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                            <div class="steps-heading">
                                <h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Các bước sử dụng</h2>
                                <div class="right-con">
                                    <span>Scroll Down</span>
                                    <a data-scroll data-options='{ "speed": 100 }' href="#steps"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="steps" class="steps-details bg-mg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1">
                        <div class="steps-cont">
                            <ul>
                                <li class="l-con">
                                    <div class="cont wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
                                        <h2>01.Đăng nhập & tạo giao dịch</h2>
                                        <p style="font-family: arial;">
                                            Bạn trong vai người bán, gửi đường dẫn cho người mua sao khi tạo giao dịch,
                                            <br>hoặc nhập thông tin người mua (email, tên đăng nhập...) hệ thống sẽ gửi lời mời giao dịch qua email (hoặc SMS)
                                        </p>
                                    </div>
                                    <span><i class="fa fa-edit"></i></span>
                                </li>
                                <li class="r-con">
                                    <div class="cont wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
                                        <h2>02. Xác nhận giao dịch</h2>
                                        <p style="font-family: arial;">
                                            Chờ cho đến khi đối tác đồng ý giao dịch cùng bạn
                                            <br>Hệ thống sẽ thông báo 1 lần nữa để xác nhận cả 2 có đồng ý thực hiện giao dịch với nhau hay không.
                                        </p>
                                    </div>
                                    <span><i class="fa fa-check-square-o"></i></span>
                                </li>
                                <li class="l-con">
                                    <div class="cont wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
                                        <h2>03. MEEX giữ tiền hộ</h2>
                                        <p style="font-family: arial;">
                                            Hệ thống hiển thị thông tin chuyển khoản cho bên mua,
                                            <br>sau khi nhận tiền, hệ thống sẽ gửi mail (hoặc SMS) để xác nhận đã nhận được tiền
                                        </p>
                                    </div>
                                    <span><i class="fa fa-university "></i></span>
                                    <div class="mid-icons"></div>
                                </li>
                                <li class="r-con">
                                    <div class="cont wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">
                                        <h2>04. Người bán giao hàng</h2>
                                        <p style="font-family: arial;">
                                            Sau khi hệ thống xác nhận đã nhận được tiền, người bán cần chuyển hàng đến người mua.
                                            <br>Người mua có nhiệm vụ xác nhận đã nhận được hàng từ người bán.
                                            <br>Hệ thống sẽ gửi email (hoặc SMS) để xác nhận danh tính người mua, tránh trường hợp xác nhận giả mạo
                                        </p>
                                    </div>
                                    <span><i class="fa fa-paw"></i></span>
                                </li>
                                <li class="l-con">
                                    <div class="cont wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;">
                                        <h2>05. MEEX giao tiền</h2>
                                        <p style="font-family: arial;">
                                            Sao khi người mua xác nhận đã nhận được hàng,
                                            <br>hệ thống chuyển tiền cho người bán.
                                        </p>
                                    </div>
                                    <span><i class="fa fa-bell"></i></span>
                                </li>
                                <li class="r-con">
                                    <div class="cont wow  fadeIn animated" data-wow-duration="2.4s" style="visibility: visible; animation-duration:2.4s; animation-name: fadeIn;">
                                        <h2>06. Kết thúc giao dịch</h2>
                                    </div>
                                    <span><i class="fa fa-check"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div section-scroll='3' class="wd_scroll_wrap">
        <div class="sud">
            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #1f58b1;
                }
</style>
            <g>
            <path class="st0" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                     c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                     c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                     c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                     c15.3,22.7,51,22.7,53,23v28.1H0V80z" />



                </g>
            </svg>
        </div>
        <section class="blog-area section contt_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-heading2">
                            <h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Liên hệ</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow  fadeIn animated" data-wow-duration="1.0s">
                        <div class="btc_cont_form_wrapper">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="btc_cont_form_wrapper">
                                        <input type="text" placeholder="Họ tên">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="btc_cont_form_wrapper btc_cont_form_wrapper2">
                                        <input type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="btc_cont_form_wrapper3">
                                        <textarea rows="6" placeholder="Nội dung"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="view-btn btc_contt_btn">
                                        <a href="#">Phản hồi 1</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow  fadeIn animated" data-wow-duration="1.5s">
                        <div class="team2-area btc_right_contt">
                            <div class="team-list">
                                <div class="btc_contt_list_main_wrapper">
                                    <div class="btc_contt_list_inner_wrapper">
                                        <div class="btc_contt_icon_wrapper">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="btc_contt_icon_cont_wrapper">
                                            <p>110, B Kalani Bagh, Dewas M.P.</p>
                                            <p>INDIA #455001</p>
                                        </div>
                                    </div>
                                    <div class="btc_contt_list_inner_wrapper btc_contt_list_inner_wrapper2">
                                        <div class="btc_contt_icon_wrapper">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="btc_contt_icon_cont_wrapper">
                                            <p>+ 91 12345 67890</p>
                                            <p>+ 91 12345 67890</p>
                                        </div>
                                    </div>
                                    <div class="btc_contt_list_inner_wrapper btc_contt_list_inner_wrapper2">
                                        <div class="btc_contt_icon_wrapper">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="btc_contt_icon_cont_wrapper">
                                            <p><a href="#">bitunit@example.com</a></p>
                                            <p><a href="#">ico@example.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Footer area start here-->
        <footer class="top-foo">
            <div id="footer-js">
                <div class="footer-top section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="con">
                                    <h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Subscribe to us!</h2>
                                    <ul>
                                        <li class="wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="wow  fadeIn animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5; animation-name: fadeIn;"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;"><a href="#"><i class="fa fa-send-o"></i></a></li>
                                        <li class="wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;"><a href="#"><i class="fa fa-bitcoin"></i></a></li>
                                        <li class="wow  fadeIn animated" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: fadeIn;"><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="search_btm wow  fadeIn animated" data-wow-duration="2.6s" style="visibility: visible; animation-duration: 2.6s; animation-name: fadeIn;">
                                                <div class="search_main">
                                                    <input type="text" placeholder="enter your email address">
                                                    <button type="submit">subscribe</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="foo-bot">
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="copyright wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
                                <p>
                                    © 2017-2018 <a href="#"><span>Bit Money</span></a> | All rights reserved. Design by
                                    <a href="http://webstrot.com/" target="_blank"> <span>webstrot</span></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="foo-link wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
                                <ul>
                                    <li><a href="#">WhitePaper</a></li>
                                    <li><a href="#">Terms of Service</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--Footer area end here-->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/Content/assets/landing/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- tether js -->
    <script src="~/Content/assets/landing/js/tether.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Content/assets/landing/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/Content/assets/landing/js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/Content/assets/landing/js/jquery.meanmenu.js"></script>
    <!-- jquery-ui js -->
    <script src="~/Content/assets/landing/js/jquery-ui.min.js"></script>
    <!-- easypiechart js -->
    <!-- particles js -->
    <!-- wow js -->
    <script src="~/Content/assets/landing/js/wow.min.js"></script>
    <!-- smooth-scroll js -->
    <script src="~/Content/assets/landing/js/smooth-scroll.min.js"></script>
    <!-- plugins js -->
    <script src="~/Content/assets/landing/js/plugins.js"></script>
    <!-- EChartJS JavaScript -->
    <!-- main js -->
    <script src="~/Content/assets/landing/js/main.js"></script>
</body>

</html>